
.app-container {
  display: flex;
  background-image: url("main_background.jpg");
}

.leftChat {
  width: 30%;
  height: 100vh;
  background-color: rgb(126, 184, 126);
  opacity: 0.6;
}

.rightChat {
  width: 70%;
  height: 100vh;
  background-color: green;
  opacity: 0.3;
}

.header {
  height: 100px; 
  z-index: 10;
    background-color: black;

}

.footer {
  height: 100px; 
  z-index: 10;
  background-color: black;
}



